<div class="nav">
	<div id="background">
		<a href="#more" class="btn btn-xs btn-dark page-scroll">learn</a>
		<a href="#subtitle-row" class="btn btn-xs btn-dark page-scroll">search</a>
		<a href="#social-buttons" class="btn btn-xs btn-dark page-scroll">share</a>
		<a target="_blank" data-toggle="modal" data-target="#aboutModal" class="clickable btn btn-xs btn-dark">
			<i class="fa fa-info"></i>
		</a>
	</div>
</div>

<header id="top" class="header cover">
	<div class="header-body cover-body">
		<div class="container">
			<%= render :partial => 'header'  %>
		</div>
	</div>
</header>


<section id="search-results-section" class="cover">
	<div class="container cover-body">
		<%= render :partial => 'school_section'  %>
	</div>
</section>

<section id="take-action-section" class="">
	<div class="container">
		<%= render :partial => 'take_action'  %>
	</div>
</section>


<!-- <section id="more" class="more-info">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<%= render :partial => 'more_info' %> 
			</div>
		</div>
	</div>
</section> -->

<footer>
	<div class="container text-center">
		<%= render :partial => 'footer' %>
	</div>
</footer>

<!-- Learn More Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p class="modal-title" id="aboutModalLabel"><br></p>
			</div>
			<%= render :partial => 'about_modal' %>
		</div>
	</div>
</div>
