<!-- Navigation -->
<%= render :partial => 'navigation'  %>

<!-- Header -->
<header id="top" class="header cover">
	<%= render :partial => 'header'  %>
</header>

<!-- Search section -->
<section id="search-section" class="search-section cover">
	<%= render :partial => 'search_section'  %>
</section>

<!-- School search results -->
<section id="results-section" class="results-section cover">
	<%= render :partial => 'school_info_section'  %>
</section>

<!-- Take action section -->
<section id="take-action-section" class="take-action-section cover">
	<%= render :partial => 'take_action'  %>
</section>

<section id="cart-section" class="cover">
	<div class="container cover-body">
		<%  %>
	</div>
</section>

<!-- Footer -->
<footer>
	<%= render :partial => 'footer' %>
</footer>
