<!-- Navigation -->
<%= render :partial => 'navigation'  %>

<!-- Header -->
<%= render :partial => 'header'  %>

<!-- Search section -->
<section id="search-section" class="search-section cover">
	<div class="cover-body">
		<%= render :partial => 'search_section'  %>
	</div>
</section>

<!-- School search results -->
<section id="results-section" class="results-section cover">
	<div class="container cover-body">
		<%= render :partial => 'school_info_section'  %>
	</div>
</section>

<!-- Take action section -->
<section id="take-action-section" class="take-action-section cover">
	<div class="container cover-body">
		<%= render :partial => 'take_action'  %>
	</div>
</section>

<section id="cart-section" class="cover">
	<div class="container cover-body">
		<%  %>
	</div>
</section>

<!-- Footer -->
<footer>
	<div class="container text-center">
		<%= render :partial => 'footer' %>
	</div>
</footer>
