<!-- Nav Bar -->
<!-- <div class="nav">
	<div id="background">
		<a href="#more" class="btn btn-xs btn-dark page-scroll">learn</a>
		<a href="#subtitle-row" class="btn btn-xs btn-dark page-scroll">search</a>
		<a href="#social-buttons" class="btn btn-xs btn-dark page-scroll">share</a>
		<a target="_blank" data-toggle="modal" data-target="#aboutModal" class="clickable btn btn-xs btn-dark">
			<i class="fa fa-info"></i>
		</a>
	</div>
</div> -->

<!-- Header -->
<header id="top" class="header cover">
	<%= render :partial => 'header'  %>
</header>

<!-- Search section -->
<section id="search-section" class="search-section cover">
	<div class="cover-body">
		<%= render :partial => 'search_section'  %>
	</div>
</section>

<!-- School search results -->
<section id="results-section" class="results-section cover">
	<div class="container cover-body">
		<%= render :partial => 'school_info_section'  %>
	</div>
</section>

<!-- Take action section -->
<section id="take-action-section" class="take-action-section cover">
	<div class="container cover-body">
		<%= render :partial => 'take_action'  %>
	</div>
</section>

<section id="cart-section" class="cover">
	<div class="container cover-body">
		<%  %>
	</div>
</section>

<!-- Footer -->
<footer>
	<div class="container text-center">
		<%= render :partial => 'footer' %>
	</div>
</footer>

<!-- Learn More Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p class="modal-title" id="aboutModalLabel"><br></p>
			</div>
			<%= render :partial => 'about_modal' %>
		</div>
	</div>
</div>
