<!-- Navigation -->
<%= render :partial => 'navigation'  %>

<!-- Header -->
<header id="top" class="header cover">
	<%= render :partial => 'header'  %>
</header>

<section class="whitespace"></section>

<!-- School search results -->
<section id="school-info-section" class="results-section cover">
	<%= render :partial => 'school_info_section'  %>
</section>

<section class="whitespace"></section>

<!-- Take action section -->
<section id="take-action-section" class="take-action-section cover">
	<%= render :partial => 'take_action'  %>
</section>

<section class="whitespace"></section>

<!-- Cart section -->
<section id="cart" class="cart-section cover">
	<%= render :partial => 'cart_section'  %>
</section>

<section class="whitespace"></section>


<!-- Footer -->
<footer>
	<%= render :partial => 'footer' %>
</footer>
