<h6>search results: <%= @results.length %></h6>
<ul class="list-group results-list" id="results-list">
	<% @results.each do |item| %>
	<div class="result-item clickable">
		<a href="#results-section" class="page-scroll" data-school-id="<%= item.id  %>"data-dbn="<%= item.dbn%>" data-school="<%= item.school  %>" data-district="<%= item.district_name %>"data-enrollment=<%= item.total_enrollment %> data-owed=<%= item.amount_owed %> >
			<li class="list-group-item"><%= item.dbn%> <%= item.school %>  (<%= item.district_name %>)</li>
		</a>
	</div>
	<% end %>
</ul>

<script type="text/javascript">

$(function() {
  $('a.page-scroll').bind('click', function(event) {
    console.log("hi")
    var $anchor = $(this);
    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
    }, 1500, 'easeInOutExpo');
    event.preventDefault();
  });
});

$(".result-item a").click(function(e) {
	$(".warning-text").css("display", "none");
	$("#results-section .school-section").css("display", "inline");
	console.log('clicked');
	var schoolInfo = $('#school-information')
	var button = $(this)
	var school = button.data('school');
	console.log(school);
	var district = button.data('district');
	var enrollment = button.data('enrollment');
	var amount = button.data('owed');
	if (school !=undefined) {
		var formattedAmt = parseFloat(amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');    
		schoolInfo.find('.school-title').text(school.toProperCase() + " ");
		schoolInfo.find('.school-title-district').text("(" + district.toProperCase() + ")")
		if (formattedAmt=="0.00") {
			schoolInfo.find('.amount-number').text("budget data not available");
		} else {
			schoolInfo.find('.amount-number').text("$" + formattedAmt);
		}
		var perStudentAmount = parseFloat(amount / enrollment).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
		schoolInfo.find('.per-student-amount').text(perStudentAmount);
		schoolInfo.find('.twitter-link').html("<a href='https://twitter.com/share' class='twitter-share-button' data-url='http://www.cfemoneyowednys.org/' data-text='NYS & @nygovcuomo owe "+school+" $"+formattedAmt+" - ' data-count='none' data-hashtags='ProtectOurSchools, AllKidsNeed, WeCantWait'>Tweet</a>")
	}
});
</script>
