<div class="row">
	<div class="col-xs-12 col-md-12 search-bar-results">
		<%= form_tag(search_path(location), method: "get", onsubmit: "return false") do %>
		<div class="input-group search-bar-section" >
			<%= text_field_tag("search_text1", nil, placeholder: "search a school by school name or by district number (e.g. D03 or District 3)", size: 250, class:'form-control') %>
		</div> 
		<% end %>
		<div id="results1"></div>
		<script type="text/javascript">
		$("#search_text1").keyup(function(event) {
			$.get('/search/1?search='+ $(this).val());
		});
		</script>
	</div>
</div>
<!-- <hr> -->
<!-- <div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-md-4">
			<div class="amount-owed-section">
				<h4 class="info-text">amount owed to <%= location_name %></h4>
				<h3 class="info-number highlight-title">$<%= number_with_precision(@total_owed, :precision => 0, :delimiter => ',') %></h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="enrollment-section">
				<h4 class="info-text">total enrollment</h4>
				<h3 class="info-number highlight-title"><%= @total_enrollment %></h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="amount-per-student-section">
				<h4 class="info-text">amount owed per student</h4>
				<h3 class="info-number highlight-title">$<%= number_with_precision(@amount_per_student, :precision=> 2, :delimiter => ',')  %></h3>
			</div>
		</div>
	</div>
</div> -->