<div class="search-bar-and-results-section">
	<%= form_tag(search_path(location), method: "get", onsubmit: "return false") do %>
	<div class="input-group search-bar-section" >
		<%= text_field_tag("search_text1", nil, placeholder: "search a #{location_name} school by school name or by district number (e.g. D03 or District 3)", size: 250, class:'form-control') %>
	</div> 
	<% end %>
	<div id="results1"></div>
	<script type="text/javascript">
	$("#search_text1").keyup(function(event) {
		$.get('/search/1?search='+ $(this).val());
	});
	</script>
</div>
<div class="row totals-row">
<hr>
	<div class="col-xs-12 col-md-12">
		<div class="col-md-4">
			<div class="amount-owed-section">
				<h4 class="info-text">amount owed to <%= location_name %></h4>
				<h3 class="info-number highlight-title">$<%= number_with_precision(totals[:total_owed], :precision => 0, :delimiter => ',') %></h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="enrollment-section">
				<h4 class="info-text">total enrollment</h4>
				<h3 class="info-number highlight-title"><%= totals[:total_enrollment] %></h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="amount-per-student-section">
				<h4 class="info-text">amount owed per student</h4>
				<h3 class="info-number highlight-title">$<%= number_with_precision(totals[:amount_per_student], :precision=> 2, :delimiter => ',')  %></h3>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<h4>by school district</h4>
		<div id="school-district-info">
		</div>
		<div id="school-district-buttons">
		</div>
		<div class="info-text"><p class="district-caption">Districts 1 to 32 = geographic school districts;  District 75 = special schools district.</p></div>
	</div>
</div>
<hr>		
<div class="row">
	<div class= "col-md-12">
		<h4>by electoral district</h4>
		<div id="electoral-district-info">
		</div>
		<div id="electoral-district-buttons">
		</div>
		<div class="info-text"><p class="district-caption">AD = New York State Assembly District; SD = New York State Senate District</p></div>
	</div>
</div>
<hr>
