<div class="search-bar-and-results-section">
	<%= form_tag(search_path(location), method: "get", onsubmit: "return false") do %>
	<div class="input-group" >
		<%= text_field_tag("search_text2", nil, placeholder: "search a #{location_name} school by school name or by district name (e.g. Albany)", size: 250, class:'form-control') %>
	</div>
	<% end %>
	<div id="results2"></div>
	<script type="text/javascript">
	$("#search_text2").keyup(function(event) {
		$.get('/search/<%= location %>?search='+ $(this).val());
	});
	</script>
</div>


<div class="row totals-row">
<hr>
	
	<div class="col-xs-12 col-md-12">
		<div class="col-md-4">
			<div class="amount-owed-section">
				<h4 class="info-text">amount owed to <%= location_name %></h4>
				<h3 class="info-number highlight-title">$<%= number_with_precision(totals[:total_owed], :precision => 0, :delimiter => ',') %></h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="enrollment-section">
				<h4 class="info-text">total enrollment</h4>
				<h3 class="info-number highlight-title"><%= totals[:total_enrollment] %></h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="amount-per-student-section">
				<h4 class="info-text">amount owed per student</h4>
				<h3 class="info-number highlight-title">$<%= number_with_precision(totals[:amount_per_student], :precision=> 2, :delimiter => ',')  %></h3>
			</div>
		</div>
	</div>
</div>
<hr>
